# Ignore semua file dan folder
*

# Jangan ignore file .gitignore itu sendiri
!.gitignore

# Jangan ignore file yang kamu mau track
!index.html
!README.md

# Jangan ignore folder audio dan semua isinya
!audio/
!audio/**/*